<header class="hero team-image flex flex-centered">
    <h1 class="hero-heading">NBA Teams</h1>
</header>

<div class="table_list" id="container">
{{>indexIn}}
</div>

<input id="input" type="text">
<button id="player">Get player</button>

<script>
const templateCode = {{{listTemplate}}}
const templatePlayers = Handlebars.template(templateCode);
</script>