<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lobster+Two'>
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Long+Cang|Permanent+Marker&display=swap">

    <script src="//cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.runtime.min.js"></script>

    <!-- JavaScripts -->


    <title>My project</title>
</head>

<body class="">
{{!-- <header class="hero team-image flex flex-centered">
    <h1 class="hero-heading">NBA Teams</h1>
</header> --}}
{{!-- <p><img src="image/image.jpg"></p> --}}
<main role="main" class="row light">
    <div class="container flex flex-column">
        {{{body}}}
    </div>
</main>


    <script src="/js/application.js"></script>

</body>
</html>
